/* Mobile Devices */
@media only screen and (max-width: 468px) {
   /* hero section */
    .overlay h2{
        font-size: 70px;
        color: #fff;
        font-family: 'arial';
    }
    .overlay p{
        font-size: 15px;
        color: #fff;
        text-align: justify;
    }
    .overlay #readMoreButton {
        font-size: 13px;
        margin-right: 2px;
    }
    .overlay #loactionButton {
        font-size: 13px;
        margin-right: 2px;
    }

 }
 
 
 /* mobile to ipad Devices */
 @media (min-width: 468px) and (max-width: 993px) {
    .overlay h2{
        font-size: 100px;
        color: #fff;
        font-family: 'arial';
    }
    .overlay p{
        font-size: 15px;
        color: #fff;
        text-align: justify;
    }
    .overlay #readMoreButton{
        font-size: 15px;
        margin-right: 2px;
    }
    .overlay #loactionButton{
        font-size: 15px;
        margin-right: 2px;
    }
 }
 
 /* Ipad to desktop Devices */
 @media only screen and (min-width: 768px){
     
 
 }