/* == font import */

@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'arial';
    src: URL('../fonts/kalpana.ttf') format('truetype');
  }
/* == Global values */
*{
    margin: 0;
    padding: 0; 
}
:root{
    --big-font: #242424;
    --text-color: #444444;
    --main-color: #19e43b;
}
body{
    font-family: sans-serif;
    background-color: #fff;
    color: var(--text-color);
    min-height:100%;
}
/* == Main Style Start*/

/* == Header area */
.navbar{
    
    padding: 5px 10%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.185);
}

.navbar-brand{
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: #fff;
}
.navbar-icons i{
    color: #fff;
    font-size: 30px;
}
.nav-item{
    margin: 5px 10px;
}
.nav-item a{
    font-size: 18px;
    color: #fff;
}

/* hero-area */
#navbar-area{
     background-position: center;
    background-size: cover;
    min-height:100%;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    animation: slider 40s infinite;
    position: relative;
    overflow: hidden;
/* 
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;  */
}

 @keyframes slider {
    0%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url('../images/img1.jpg');
    }
    20%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img1.jpg');
    }
    20.01%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img2.jpg');
    }
    40%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img2.jpg');
    }
    40.01%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img3.jpg');
    }
    60%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img3.jpg');
    }
    60.01%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img1.jpg');
    }
    80%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img1.jpg');
    }
    80.01%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img2.jpg');
    }
    100%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url('../images/img2.jpg');
    }
} 

.content{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s ease-in-out;
}
.content h2{
    font-size: 120px;
    color: #fff;
    font-family: 'arial';
    text-shadow: 5px 5px 20px lightgray;
}
.content p{
    font-size: 17px;
    color: #fff;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.185);
}
.content #readMoreButton{
    background-color: transparent;
    border: 1px solid white;
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    margin-top: 20px;
}
.content #loactionButton{
    background-color: #fff;
    border: 1px solid white;
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.5s;
    margin-top: 20px;
}

.content #readMoreButton:hover{
    background-color: #fff;
    color: var(--text-color);
}
.content #loactionButton:hover{
    background-color: transparent;
    color: #fff;
    box-shadow: 2px 5px 20px lightgray;
}

